.mt{
    margin-top: 2.5%;
}
.mb{
    margin-bottom: 2.5%;
}

.ml{
    margin-left: 2.5%;
}

.mr{
    margin-right: 2.5%;
}

.pt{
    padding-top: 2.5%;
}

.pb{
padding-bottom: 2.5%;
}

.pl{
padding-left: 2.5%;
}

.pr{
padding-right: 2.5%;
}

